ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFF99;
  }

  body {background-color: #9370db;}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .newspaper {
    column-count: 3;
  }

  



  
  
  




  
  
  

 

  